html, body {
  background-color: white;
   line-height: 1.3em;
   font-family: monospace;
  color: black;
  text-decoration: none;
}

a {
   background-color: lime;
   line-height: 1.3em;
   font-family: monospace;
  color: black;
  text-decoration: none;
}

a:visited {
   background-color: lime;
   line-height: 1.3em;
   font-family: monospace;
  color: black;
  text-decoration: none;
}
a:hover {
 background-color: black;
   line-height: 1.3em;
   font-family: monospace;
  color: lime;
  text-decoration: none;
  font-style: italic;
}

a:selected {
   background-color: black;
   line-height: 1.3em;
   font-family: monospace;
  color: lime;
  text-decoration: none;
  font-style: italic;
}

p {
  text-shadow: 2px 2px 5px lime;
}
