html{
  background-color: white;
}

 body {
   line-height: 1.3em;
   font-family: monospace;
}

a {
  color: black;
  line-height: 1.3em;
}

a:visited {
  color: black; 
  line-height: 1.3em;
}
a:hover {
  color: lime;
  line-height: 1.3em;
}

a:selected {
  color: lime;
  line-height: 1.3em;

}

h3{
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 1.5em;
}
