html, body {
  background-color: white;
   line-height: 1.3em;
   font-family: monospace;
  color: black;
  text-decoration: none;
}

a {
  background-color: white;
  text-decoration: none;
  line-height: 1.3em;
  font-family: monospace;
}

a:visited {
  background-color: white;
  text-decoration: none;
  line-height: 1.3em;
  font-family: monospace;
}
a:hover {
   background-color: white;
  line-height: 1.3em;
   font-family: monospace;
  text-decoration: none;
  font-style: italic;
}

a:selected {
  background-color: white;
  line-height: 1.3em;
font-family: monospace;
   text-decoration: none;
  font-style: italic;
}

p {
  text-shadow: 2px 2px 5px lime;
}
